{% extends 'base.html' %}

{% load static %}
{% block content %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Hóa Đơn Dịch Vụ</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Bệnh nhân: {{chuoi_kham.benh_nhan.ho_ten}}</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Thanh toán hóa đơn dịch vụ</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                    <!-- begin: Invoice-->
                    <!-- begin: Invoice header-->
                    <div class="row justify-content-center bgi-size-cover bgi-no-repeat py-8 px-8 py-md-27 px-md-0" style="background-image: url({% static 'assets/media/bg/bg-6.jpg' %});">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                <h1 class="display-4 text-white font-weight-boldest mb-10">Hóa Đơn Dịch Vụ</h1>
                                <div class="d-flex flex-column align-items-md-end px-0">
                                    <!--begin::Logo-->
                                    <a href="#" class="mb-5">
                                        <img src="{% static 'assets/media/logos/logo MEDOTIS.png' %} " alt="" />
                                    </a>
                                    <!--end::Logo-->
                                    <span class="text-white d-flex flex-column align-items-md-end opacity-70">
                                        <span>Địa Chỉ và Thông tin bệnh viện</span>
                                        <span>Số điện thoại liên hệ</span>
                                    </span>
                                </div>
                            </div>
                            <div class="border-bottom w-100 opacity-20"></div>
                            <div class="d-flex justify-content-between text-white pt-6">
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolde mb-2r">THỜI GIAN THANH TOÁN</span>
                                    <span class="opacity-70"> {{chuoi_kham.thoi_gian_tao}} </span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">MÃ CHUỖI KHÁM.</span>
                                    <span class="opacity-70">{{chuoi_kham.id}}</span>
                                </div>
                                <div class="d-flex flex-column flex-root">
                                    <span class="font-weight-bolder mb-2">NGƯỜI THANH TOÁN.</span>
                                    <span class="opacity-70">
                                        {{chuoi_kham.benh_nhan.ho_ten}} - {{chuoi_kham.benh_nhan.so_dien_thoai}}
                                    <br />{{chuoi_kham.benh_nhan.dia_chi}}
                                    <br />{{chuoi_kham.benh_nhan.cmnd_cccd}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice header-->
                    <!-- begin: Invoice body-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table" id="invoice-table">
                                    <thead>
                                        <tr>
                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Dịch Vụ Khám</th>
                                            {% comment %} <th class="text-right font-weight-bold text-muted text-uppercase">Bao Hiem</th> {% endcomment %}
                                            <th class="text-center font-weight-bold text-muted text-uppercase">Ap Dung Bao Hiem</th>
                                            <th class="text-center font-weight-bold text-muted text-uppercase text-danger ">Don Gia</th>
                                            <th class="text-left pr-0 font-weight-bold text-muted text-uppercase">DVT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for khoa_kham in phan_khoa_kham %}
                                        <tr class="font-weight-boldest font-size-lg">
                                            <td class="pl-0 pt-7">{{ khoa_kham.dich_vu_kham.ten_dvkt }}</td>
                                            {% comment %} <td class="text-right pt-7">{{ khoa_kham.muc_bao_hiem }} %</td> {% endcomment %}
                                            <td class="text-center pt-7">
                                                {% if khoa_kham.dich_vu_kham.bao_hiem == True %}
                                                    Đã áp dụng
                                                {% endif %}
                                                {% comment %} {{ khoa_kham.dich_vu_kham.bao_hiem }} {% endcomment %}
                                            </td>
                                            <td class="format-gia text-center pt-7" data-id={{khoa_kham.dich_vu_kham.don_gia}}>
                                                {{ khoa_kham.dich_vu_kham.don_gia }}
                                            </td>
                                            <td class="text-left pt-7">VND</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice body-->
                    <!-- begin: Invoice footer-->
                    <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                                <div class="d-flex flex-column mb-10 mb-md-0">
                                    <div class="font-weight-bolder font-size-lg mb-3">THÔNG TIN CHUYỂN KHOẢN</div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold">Chủ Khoản:</span>
                                        <span class="text-right">Bùi Thành Long</span>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <span class="mr-15 font-weight-bold">Số Tài Khoản:</span>
                                        <span class="text-right">19035123351011</span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span class="mr-15 font-weight-bold">Ngân Hàng:</span>
                                        <span class="text-right">Techcombank XaLa Hà Đông</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-column text-md-right">
                                    <span class="font-size-lg font-weight-bolder mb-1">TỔNG TIỀN</span>
                                    {% comment %} <span class="format-tien font-size-h2 font-weight-boldest text-danger mb-1">{{tong_tien}}</span> {% endcomment %}
                                    <span id="format-money-tong-tien" class="font-size-h2 font-weight-boldest text-danger mb-1" data-gia="{{tong_tien}}" data-hoa-don="{{chuoi_kham.hoa_don_dich_vu.ma_hoa_don}}">{{tong_tien}}</span>
                                    <span>VND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice footer-->
                    <!-- begin: Invoice action-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">Download Invoice</button>
                                <button type="button" class="btn btn-primary font-weight-bold" id="btn-thanh-toan">Thanh Toán</button>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice action-->
                <!-- end: Invoice-->
                </div>
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

{% endblock content %}

{% block scripts %}
<script src="{% static 'assets/plugins/global/plugins.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/js/scripts.bundle9cd7.js' %} "></script>

<script>
    function formatMoney(amount, decimalCount = 0, decimal = ",", thousands = ".") {
        try {
            decimalCount = Math.abs(decimalCount);
            decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

            const negativeSign = amount < 0 ? "-" : "";

            let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
            let j = (i.length > 3) ? i.length % 3 : 0;

            return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
        } catch (e) {
            console.log(e)
        }
    };

    $('#invoice-table tbody tr').each(function(){
        $(this).find(".format-gia").each(function(){
            console.log($(this).data('id'))
            $(this).html(formatMoney($(this).data('id')))
        })  
    });

    document.getElementById('format-money-tong-tien').innerText = formatMoney(document.getElementById('format-money-tong-tien').innerHTML)

    $(document).on('click', '#btn-thanh-toan', function(){
        var tong_tien = $('#format-money-tong-tien').data('gia')
        var ma_hoa_don = $('#format-money-tong-tien').data('hoa-don')
        $.ajax({
            type: "GET",
            url: "{% url 'thanh_toan_hoa_don_dich_vu_api' %}",
            data: {
                'ma_hoa_don': ma_hoa_don,
                'tong_tien' : tong_tien,
            },
            dataType: 'json',
            safe: false,
            success: function (response) {
                if (response.status == 200) {
                    toastr.success(response.message, "Thành Công")
                } else if (response.status == 404) {
                    toastr.warning(response.message, "Xảy Ra Lỗi")
                }
                setTimeout(function () {
                    window.location.href = "/phong_tai_chinh/"
                }, 2000);
            },
            error: function () {
                alert();                                                                                                                          
            }
        });
    })
</script>
{% endblock scripts %}

