{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Danh sách nguồn cung cấp thuốc</h5>
                    <!--end::Page Title-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
           
        </div>
    </div>
    <!--end::Subheader-->

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">Nguồn cung</h3>
                    </div>
                    <div class="card-toolbar">
                        <!--begin::Button-->
                        <a href="#" class="btn btn-light-primary font-weight-bolder mr-2" id="btn_add_nguon_cung">
                            <i class="la la-plus-circle icon-md"></i>
                            Thêm Nguồn Cung
                        </a>
                        <!--end::Button-->
                        <!--begin::Button-->
                        <a href="#" class="btn btn-light-primary font-weight-bolder" id="btn-reload">
                            <span class="svg-icon svg-icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M12,8 L8,8 C5.790861,8 4,9.790861 4,12 L4,13 C4,14.6568542 5.34314575,16 7,16 L7,18 C4.23857625,18 2,15.7614237 2,13 L2,12 C2,8.6862915 4.6862915,6 8,6 L12,6 L12,4.72799742 C12,4.62015048 12.0348702,4.51519416 12.0994077,4.42878885 C12.264656,4.2075478 12.5779675,4.16215674 12.7992086,4.32740507 L15.656242,6.46136716 C15.6951359,6.49041758 15.7295917,6.52497737 15.7585249,6.56395854 C15.9231063,6.78569617 15.876772,7.09886961 15.6550344,7.263451 L12.798001,9.3840407 C12.7118152,9.44801079 12.607332,9.48254921 12.5,9.48254921 C12.2238576,9.48254921 12,9.25869158 12,8.98254921 L12,8 Z" fill="#000000"/>
                                        <path d="M12.0583175,16 L16,16 C18.209139,16 20,14.209139 20,12 L20,11 C20,9.34314575 18.6568542,8 17,8 L17,6 C19.7614237,6 22,8.23857625 22,11 L22,12 C22,15.3137085 19.3137085,18 16,18 L12.0583175,18 L12.0583175,18.9825492 C12.0583175,19.2586916 11.8344599,19.4825492 11.5583175,19.4825492 C11.4509855,19.4825492 11.3465023,19.4480108 11.2603165,19.3840407 L8.40328311,17.263451 C8.18154548,17.0988696 8.13521119,16.7856962 8.29979258,16.5639585 C8.32872576,16.5249774 8.36318164,16.4904176 8.40207551,16.4613672 L11.2591089,14.3274051 C11.48035,14.1621567 11.7936615,14.2075478 11.9589099,14.4287888 C12.0234473,14.5151942 12.0583175,14.6201505 12.0583175,14.7279974 L12.0583175,16 Z" fill="#000000" opacity="0.3"/>
                                    </g>
                                </svg>
                            </span>
                            Tải lại
                        </a>
                        <!--end::Button-->
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Search Form-->
                    <div class="mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-xl-12">
                                <div class="row align-items-center">
                                    <div class="col-md-5 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Tìm Kiếm..." id="kt_datatable_search_query" />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-light-success font-weight-bolder ml-2" id="excelExport">
                                            <span class="navi-icon">
                                                <i class="la la-file-excel-o"></i>
                                            </span>
                                            <span class="navi-text">Xuất file excel</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Search Form-->

                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

<!--begin::Modal-->
<div id="kt_datatable_modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" style="min-height: 590px;">
            <div class="modal-header py-5">
                <h5 class="modal-title">Danh Sách Thuốc</h5>
                {% comment %} <span class="d-block text-muted font-size-sm" id="">sub datatable for the selected row is loaded from remote data source</span></h5> {% endcomment %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <!--begin::Search Form-->
                <div class="mb-5">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-xl-8">
                            <div class="row align-items-center">
                                <div class="col-md-6 my-2 my-md-0">
                                    <div class="input-icon">
                                        <input type="text" class="form-control" placeholder="Tìm Kiếm..." id="kt_datatable_search_query_2" />
                                        <span>
                                            <i class="flaticon2-search-1 text-muted"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end: Search Form-->
                <!--begin: Datatable-->
                <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_sub"></div>
                <!--end: Datatable-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold text-uppercase" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold text-uppercase">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->

<!-- Nguồn Cung Modal-->
<div class="modal fade" id="nguonCungModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới nguồn cung</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" id="kt_form_1">
                    <div class="card-body">
                        <div class="form-group mb-8">
                            <div class="alert alert-custom alert-default" role="alert">
                                <div class="alert-icon"><i class="la la-plus-square text-primary"></i></div>
                                <div class="alert-text font-weight-bolder">
                                    Thêm Mới Nguồn Cung
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tên Nguồn Cung <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputNguonCung"  placeholder="Nhập Tên Nhà Thầu" name="text"/>
                            {% comment %} <span class="form-text text-muted">We'll never share your email with anyone else.</span> {% endcomment %}
                        </div>
                        <div class="form-group">
                            <label>Giấy Phép Kinh Doanh <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputGiayPhepKinhDoanh"  placeholder="Nhập Thông Tin Giấy Phép" name="text"/>
                        </div>
                        <div class="form-group">
                            <label>Số liên lạc <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputSoLienLac"  placeholder="Nhập Số Điện Thoại" name="text"/>
                        </div>
                        <div class="form-group">
                            <label>Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Nhập Email Công Ty" name="text"/>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="inputDiaChi" placeholder="Địa chỉ người dùng" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary font-weight-bold" id="submitForm">Thêm</button>
                    </div>     
                </form>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->

{% endblock content %}

{% block scripts %}
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/js/scripts.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/js/excelexportjs.js' %} "></script>

<!--end::Global Theme Bundle-->
<script>var HOST_URL = "http://127.0.0.1:8000";</script>

<script>

"use strict";
// Class definition

var KTDatatableRemoteAjaxDemo = function() {
    // Private functions
    //set global data
    let globalData = null;
    // basic demo
    var demo = function() {

        var datatable = $('#kt_datatable').KTDatatable({
            // datasource definition
            data: {
                type: 'remote',
                source: {
                    read: {
                        url: HOST_URL + '/api/cong_ty/',
                        method: 'GET',
                        // sample custom headers
                        // headers: {'x-my-custom-header': 'some value', 'x-test-header': 'the value'},
                        map: function(raw) {
                            // sample data mapping
                            var dataSet = raw;
                            if (typeof raw.data !== 'undefined') {
                                dataSet = raw.data;
                            }
                            console.log(dataSet)
                            globalData = null;
                            globalData = dataSet;
                            return dataSet;
                        },
                    },
                },
                pageSize: 10,
                serverPaging: true,
                // serverFiltering: true,
                //serverSorting: true,
            },

            // layout definition
            layout: {
                scroll: true,
                footer: false,
            },

            // column sorting
            sortable: true,

            pagination: true,

            search: {
                input: $('#kt_datatable_search_query'),
                key: 'generalSearch'
            },

            // columns definition
            columns: [{
                field: 'id',
                title: 'Mã',
                sortable: 'asc',
                width: 30,
                type: 'number',
                selector: false,
                textAlign: 'center',
            }, {
                field: 'ten_cong_ty',
                title: 'Tên Công Ty',
                width: 200,
            }, {
                field: 'giay_phep_kinh_doanh',
                title: 'Giấy Phép Kinh Doanh',
            }, {
                field: 'dia_chi',
                title: 'Địa Chỉ',
            }, {
                field: 'so_lien_lac',
                title: 'Số Liên Lạc',
            }, {
                field: 'actions',
                title: 'Thao Tác',
                sortable: false,
                width: 125,
                overflow: 'visible',
                autoHide: false,
                template: function(row) {
                    return `
                        <a href="/nguon_cung/${row.id}/chinh_sua" class="btn-edit btn btn-sm btn-clean btn-icon" title="Cập nhật thông tin nguồn cung">
                            <i class="la la-edit la-icon-md text-primary"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-check" title="Xem danh sách thuốc" data-record-id=${row.id}>
                            <i class="la la-list icon-md text-primary"></i>
                        </a>
                    `;
                },
            }],

        });

        $('#excelExport').on("click", function(){
            $('#kt_datatable').excelexportjs({
                containerid: "kt_datatable",
                datatype: 'json',
                dataset: globalData,
                columns: getColumns(globalData),
                locale: 'vi-VN'
            })
        })

		$('#kt_datatable_search_status').on('change', function() {
            datatable.search($(this).val().toLowerCase(), 'trang_thai');
        });

        $('#btn-reload').on('click', function(){
            $('#kt_datatable').KTDatatable('reload');
        })

        $('#kt_datatable_search_status, #kt_datatable_search_type').selectpicker();

        var card = datatable.closest('.card');

        datatable.on('click', '.btn-check', function() {
            var id_cong_ty = $(this).data('record-id');
            console.log(id_cong_ty)
            initSubDatatable(id_cong_ty);
            $('#kt_datatable_modal').modal('show');
        });

    };

    var initSubDatatable = function(id_cong_ty) {
        var id = id_cong_ty
        var el = $('#kt_datatable_sub');
        var datatable = $('#kt_datatable_sub').KTDatatable({
            data: {
                type: 'remote',
                source: {
                    read: {
                        method: "GET",
                        url: HOST_URL + '/api/danh_sach_thuoc_theo_cong_ty',
                        params: {
                            id_cong_ty: id,
                        },
                    },
                },
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
            },

            // layout definition
            layout: {
                theme: 'default',
                scroll: true,
                height: 350,
                footer: false,
                header: true,
            },

            search: {
                input: $('#kt_datatable_search_query_2'),
                key: 'generalSearch'
            },

            sortable: true,

            // columns definition
            columns: [{
                field: 'cong_ty.ten_cong_ty',
                title: 'ID',
                sortable: true,
                width: 120,
            }, {
                field: 'ma_hoat_chat',
                title: 'Mã Hoạt Chất',
            }, {
                field: 'ham_luong',
                title: 'Hàm Lượng',
            }, {
                field: 'ten_thuoc',
                title: 'Tên Thuốc',
            }, {
                field: 'hang_sx',
                title: 'Hãng Sản Xuất',
            }
            ],
        });

        var modal = datatable.closest('.modal');

        // fix datatable layout after modal shown
        datatable.hide();

        modal.on('shown.bs.modal', function() {
            var modalContent = $(this).find('.modal-content');
            datatable.spinnerCallback(true, modalContent);
            datatable.spinnerCallback(false, modalContent);
        }).on('hidden.bs.modal', function() {
            el.KTDatatable('destroy');
        });

        datatable.on('datatable-on-layout-updated', function() {
            datatable.show();
            datatable.redraw();
        });
    };

    var initNguonCungModal = function(){
        $('#btn_add_nguon_cung').on('click', function(){
            $('#nguonCungModal').modal('show')
        })
    }

    var _initValidation = function () {
        FormValidation.formValidation(
            document.getElementById('kt_form_1'),
            {
                fields: {
                    text: {
                        validators: {
                            notEmpty: {
                                message: 'Không được để trống'
                            },
                        }
                    },
                    memo: {
                        validators: {
                            notEmpty: {
                                message: 'Không được để trống'
                            },
                            stringLength: {
                                min:10,
                                max:10000,
                            }
                        }
                    },
                },

                plugins: { //Learn more: https://formvalidation.io/guide/plugins
                    trigger: new FormValidation.plugins.Trigger(),
                    // Bootstrap Framework Integration
                    bootstrap: new FormValidation.plugins.Bootstrap(),
                    // Validate fields when clicking the Submit button
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    // Submit the form when all fields are valid
                    defaultSubmit: new FormValidation.plugins.DefaultSubmit(),

                    
                }
            }
        );
    }

    var submitNguonCungModal = function(){
        $('#kt_form_1').on("click", "#submitForm", function(){
            var formData = new FormData();
            
            formData.append('ten_cong_ty', $('#inputNguonCung').val())
            formData.append('giay_phep_kinh_doanh', $('#inputGiayPhepKinhDoanh').val())
            formData.append('dia_chi', $('#inputDiaChi').val())
            formData.append('email', $('#inputEmail').val())
            formData.append('so_lien_lac', $('#inputSoLienLac').val())
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            $.ajax({
                type: "POST",
                url: "{% url 'store_cong_ty' %}",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function(response){
                    toastr.success(response.message, "Thành Công")
                    $('#nguonCungModal').modal('hide')
                },
                error: function(response){
                    toastr.warning("Thằng Minh bảo set")
                }
            })
        })
    }

    return {
        // public functions
        init: function() {
            demo();
            initNguonCungModal();
            _initValidation();
            submitNguonCungModal();
        },
    };
}();

jQuery(document).ready(function() {
    KTDatatableRemoteAjaxDemo.init();
});
</script>

{% endblock scripts %}