{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Lễ Tân</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Chỉnh sửa nguồn cung</a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header pb-0">
                    <div class="card-title">
                        <h class="card-label">
                            Chỉnh Sửa Thông Tin Nguồn Cung
                        </h1>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="form" id="cong_ty_form">
                    <div class="card-body">

                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Tên Công Ty *</label>
                                {{ form.ten_cong_ty|attr:"class: form-control"|attr:"name: ten_cong_ty" }}
                            </div>
                            
                            <div class="col-lg-6">
                                <label>Giấy Phép Kinh Doanh *</label>
                                {{ form.giay_phep_kinh_doanh|attr:"class: form-control"|attr:"name: giay_phep_kinh_doanh" }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label>Địa Chỉ *</label>
                                {{ form.dia_chi|attr:"class: form-control"|attr:"name: dia_chi" }}
                            </div>
                       
                            <div class="col-lg-6">
                                <label>Số Liên Lạc *</label>
                                {{ form.so_lien_lac|attr:"class: form-control"|attr:"name: so_lien_lac" }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Mô tả *</label>
                                {{ form.mo_ta|attr:"class: form-control"|attr:"name: mo_ta" }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <label>Email *</label>
                                {{ form.email|attr:"class: form-control"|attr:"name: email" }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-12 ml-lg-auto text-center">
                                <button data-id="{{ id_cong_ty }}" type="button" class="btn btn-primary font-weight-bold mr-2" id="submitData" name="submitButton">Xác nhận</button>
                                <button type="reset" class="btn btn-light-primary font-weight-bold">Hủy</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->


{% endblock content %}

{% block scripts %}
<!--begin::Global Theme Bundle(used by all pages)-->
<script src="{% static 'assets/plugins/global/plugins.bundle9cd7.js' %} "></script>
<script src="{% static 'assets/plugins/custom/prismjs/prismjs.bundle9cd7.js' %} "></script>

<!--end::Global Theme Bundle-->

<script>

$('#cong_ty_form').on('click', '#submitData', function(){
    var id_cong_ty = $(this).data('id')
    var formData = new FormData()
    $("#cong_ty_form").find("input").each(function(){
        formData.append($(this).attr("name"), $(this).val())
    });
    formData.append('id_cong_ty', id_cong_ty)
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

    $.ajax({
        type: "POST",
        url: "{% url 'chinh_sua' %}",
        data: formData,
        cache: false,
        processData: false,
        contentType: false,
        success: function(response){
            alert('thanhcong')
        },
        error: function(response){
            
        }
    })
})

</script>

{% endblock scripts %}

